@charset "utf-8";
/*© 2015 MATMOZ d.o.o. - Matjaž Mozetič*/
/*License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html).*/
.openerp .oe_kanban_view .oe_kanban_wbs {
    width: 255px;
    min-height: 260px;
}

.openerp .oe_kanban_view .oe_wbs_button {
    width: 115px;
    height: 24px;
    padding: 3px 0;
    /*margin: 2px;*/
    text-align: center;
    /*background-color: rgba(0,0,0,0.03);*/
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_button:hover {
    width: 115px;
    height: 24px;
    padding: 3px 0;
    /*margin: 2px;*/
    text-align: center;
    background-color: rgba(155,89,136,0.20);
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_navigation {
    width: 85px;
    height: 24px;
    padding: 3px 0;
    margin: 2px;
    text-align: center;
    background-color: rgba(155,89,136,0.05);
}

.openerp .oe_kanban_view .oe_wbs_navigation:hover {
    width: 85px;
    height: 24px;
    padding: 3px 0;
    margin: 2px;
    text-align: center;
    background-color: rgba(155,89,136,0.40);
}

.oe_nav_buttons{
    border-bottom: 1px solid darkgray;
    padding-bottom: 2px;
}

.oe_kanban_project_list{
    padding-top:  2px;
}

.subheading{
    font-size: 0.5em;
}
