@charset "utf-8";
/*© 2015 MATMOZ d.o.o. - Matjaž Mozetič*/
/*License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html).*/
.openerp .oe_kanban_project {
    width: 300px;
    /*min-height: 1000px;*/
}

.openerp .oe_kanban_view .oe_kanban_wbs {
    width: 300px;
    /*min-height: 1000px;*/
}

.openerp .oe_kanban_view .oe_wbs_button {
    width: 290px;
    /*height: 24px;*/
    padding: 3px 0;
    /*margin: 2px;*/
    /*text-align: center;*/
    /*background-color: rgba(0,0,0,0.03);*/
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_button:hover {
    width: 290px;
    /*height: 24px;*/
    padding: 3px 0;
    /*margin: 2px;*/
    /*text-align: center;*/
    background-color: rgba(155,89,136,0.20);
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_navigation {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    /*background-color: rgba(155,89,136,0.05);*/
}

.openerp .oe_kanban_view .oe_wbs_navigation:hover {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    background-color: rgba(155,89,136,0.40);
}

.oe_nav_buttons{
    border-bottom: 0px solid darkgray;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 290px;
}

.openerp .oe_kanban_project_list{
    padding-top:  2px;
    background-color: rgba(245,245,245, 0.35);
}

.subheading{
    font-size: 0.7em;
}

.parentheading{
    font-size: 10px;
}

.openerp .oe_tag {
  border: 0px solid #afafb6;
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  background: #7c7bad;
  color: #ffffff;
}

.openerp .oe_green{
  border: 1px solid #7C7BAD;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*background: #AC71A2;*/
  color: #7C7BAD;
  display: inline-block;
  word-break: break-word;
}

.oe_tag_up {
  font-size: 10px;
  /*padding: 2px 4px;*/
  /*margin: 0 2px 2px 0;*/
  color: #ffffff;
  /*background-color: #7c7bad;*/
  background-color: rgba(124, 123, 173, 0.60)
}

.oe_wbs_subtitle {
    width: 290px;
    /*height: 24px;*/
    padding: 10px 0;
    /*margin: 2px;*/
    text-align: center;
    /*border: 1px solid #7c7bad;*/
    /*background-color: rgba(128, 119, 155, 0.10);*/
    /*padding-bottom: 10px;*/
}

.oe_wbs_subtitle:hover {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    /*border: 1px solid #7c7bad;*/
    background-color: rgba(128, 119, 155, 0.40);
    padding-bottom: 10px;
}

.smallertext {
    font-size: smaller;
    text-align: center;
}

.border {
    border-radius: 1em;
    background-color: rgb(237, 237, 246);
    /*border: 1px solid lightgrey;*/
    text-align: center;
    /*float: left;*/
    font-size: smaller;
    width: auto;
    /*border-left: 1px double rgba(124, 123, 173, 0.61);*/
    padding: 2px 2px 2px 2px;
}

.references {
    /*text-align: center;*/
    float: left;
    font-size: smaller;
    width: auto;
    margin-left: 5%;
    /*margin-top: -2%;*/
}

.openerp .oe_list_group_name {
    position: absolute;
}

.oe_kanban_content div:first-child {
    margin-right: 0 !important;
}

.vertical_label {
	transform: rotate(270deg);
	transform-origin: left top 0;
    float: left;
    margin-top: -14px;
    font-size: small;
    margin-left: -24px;
    color: rgb(237, 237, 246);
}

.options_active {
    font-size: small;
}