@charset "utf-8";
/*© 2015 MATMOZ d.o.o. - Matjaž Mozetič*/
/*License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html).*/
.openerp .oe_kanban_project {
    width: 300px;
    min-height: 400px;
}

.openerp .oe_kanban_view .oe_kanban_wbs {
    width: 300px;
    min-height: 400px;
}

.openerp .oe_kanban_view .oe_wbs_button {
    width: 290px;
    /*height: 24px;*/
    padding: 3px 0;
    /*margin: 2px;*/
    text-align: center;
    /*background-color: rgba(0,0,0,0.03);*/
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_button:hover {
    width: 290px;
    /*height: 24px;*/
    padding: 3px 0;
    /*margin: 2px;*/
    text-align: center;
    background-color: rgba(155,89,136,0.20);
    /*border: 1px solid rgba(0,0,0,0.20);*/
    /*border-radius: 3px;*/
}

.openerp .oe_kanban_view .oe_wbs_navigation {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    background-color: rgba(155,89,136,0.05);
}

.openerp .oe_kanban_view .oe_wbs_navigation:hover {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    background-color: rgba(155,89,136,0.40);
}

.oe_nav_buttons{
    border-bottom: 1px solid darkgray;
    padding-bottom: 2px;
}

.openerp .oe_kanban_project_list{
    padding-top:  2px;
    background-color: rgba(245,245,245, 0.35);
}

.subheading{
    font-size: 0.7em;
}

.parentheading{
    font-size: 10px;
}

.openerp .oe_tag {
  border: 0px solid #afafb6;
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  background: #7c7bad;
  color: #ffffff;
}

.oe_tag_up {
  font-size: 10px;
  /*padding: 2px 4px;*/
  /*margin: 0 2px 2px 0;*/
  color: #ffffff;
  /*background-color: #7c7bad;*/
  background-color: rgba(124, 123, 173, 0.60)
}

.oe_wbs_subtitle {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    /*border: 1px solid #7c7bad;*/
    background-color: rgba(128, 119, 155, 0.10);
    padding-bottom: 10px;
}

.oe_wbs_subtitle:hover {
    width: 290px;
    /*height: 24px;*/
    /*padding: 3px 0;*/
    /*margin: 2px;*/
    text-align: center;
    /*border: 1px solid #7c7bad;*/
    background-color: rgba(128, 119, 155, 0.40);
    padding-bottom: 10px;
}

.smallertext {
    font-size: smaller;
    text-align: center;
}

.border {
    /*border: 1px solid lightgrey;*/
    border-radius: 5px;
    background-color: rgba(155,89,136,0.05);

}